@model ISAD251REF.Models.Appointments

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Appointments</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppointmentDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AppointmentNotes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppointmentNotes)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AppointmentType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppointmentType.AppointmentTypeName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FamilyMember)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FamilyMember.FamilyMemberName)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="AppointmentId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a href='javascript:history.go(-1)'>Back to List</a>
        </form>
    </div>
</body>
</html>
