@model IEnumerable<ISAD251REF.Models.Appointments>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Past Appointments</title>
</head>
<body>

    <div class="p-3 mb-2 bg-secondary text-white text-center rounded">Upcoming Appointments</div>

    @using (Html.BeginForm())
    {
        <p>
            Find by Family Member: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Appointment Date", "PastAppointments", new { sortOrder = ViewBag.DateSortParm })
                </th>
                <th>
                    Family Member
                </th>
                <th>
                    Appointment Type
                </th>
                <th>
                    Appointment Notes
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppointmentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FamilyMember.FamilyMemberName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppointmentType.AppointmentTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppointmentNotes)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input style="float: right;" type="button" class="btn btn-primary btn" value="Return to Parent Menu" onclick="window.location= '@Url.Action( "Index", "Parent")'" />
</body>
</html>
