@model IEnumerable<ISAD251REF.Models.Appointments>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Past Appointments</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AppointmentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AppointmentNotes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AppointmentType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FamilyMember)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppointmentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppointmentNotes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppointmentType.AppointmentTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FamilyMember.FamilyMemberName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input style ="float: right;" type="button" class="btn btn-secondary btn" value="Return to Parent Menu" onclick="window.location= '@Url.Action( "Index", "Parent")'" />
</body>
</html>
