@{
    ViewData["Title"] = "Home Page";
}


    <script>
        var create = '@(ViewBag.IsValid)';
        if (create == "true")
        {
            $('#myModal').modal('show');
        }

    </script>

    <div class="container">
        <div class="p-3 mb-2 bg-primary text-white text-center rounded">CHILD MENU</div>
        <div class="form-row">
            <div class="col">
                <input type="button" class="btn btn-lg btn-secondary btn-block" value="Add deadline" onclick="window.location= '@Url.Action( "Index", "NewDeadline")'" />
            </div>
            <div class="col">
                <input type="button" class="btn btn-lg btn-secondary btn-block" value="View / Edit Upcoming Deadline(s)" onclick="window.location= '@Url.Action( "view", "controller")'" />
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="col">
                <input type="button" class="btn btn-lg btn-secondary btn-block" value="View / Edit Past Deadline(s)" onclick="window.location= '@Url.Action( "view", "controller")'" />
            </div>
            <div class="col">
                <input type="button" class="btn btn-lg btn-secondary btn-block" value="Change User" onclick="window.location= '@Url.Action( "view", "controller")'" />
            </div>
        </div>
    </div>

    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Modal header</h3>
        </div>
        <div class="modal-body">
            <p>One fine body…</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
        </div>
    </div>