@model ISAD251REF.Models.Deadlines

@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Deadlines</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeadlineDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeadlineDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeadlineNotes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeadlineNotes)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeadlineType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeadlineType.DeadlineTypeName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Subject)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Subject.SubjectName)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.DeadlineId">Edit</a> |
        <a href='javascript:history.go(-1)'>Back to List</a>
    </div>
</body>
</html>
