@model IEnumerable<ISAD251REF.Models.Deadlines>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Future Deadlines</title>
</head>
<body>
    <div class="p-3 mb-2 bg-secondary text-white text-center rounded">Future Deadlines</div>

    @using (Html.BeginForm())
    {
        <p>
            Find by Subject Name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink("Deadline Date", "FutureDeadlines", new { sortOrder = ViewBag.DateSortParm })
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Deadline Type
                </th>
                <th>
                    Notes
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeadlineDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeadlineType.DeadlineTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeadlineNotes)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.DeadlineId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.DeadlineId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.DeadlineId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input style="float: right;" type="button" class="btn btn-primary btn" value="Return to Child Menu" onclick="window.location= '@Url.Action( "Index", "Child")'" />
</body>
</html>
